img {
  width: 250px;
  height: 200px;
}

header {
  text-align: center;
  font-family: 'Gugi', cursive;
}

P {
  width: 250px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Gugi', cursive;
}

h2 {
  width: 250px;
  text-align: center;
  font-family: 'Gugi', cursive;
}

body {
  background-color: cyan;
}

h1 {
  font-size: 30px;
  padding: 30px;
  font-weight: bold;
  font-family: 'Gugi', cursive;
}