#footer {
  text-align: center;
  padding: 20px;
  width: 1503px;
}

#select_name {
  text-align: center;
  padding: 20px;
}

.select_name {
  text-align: center;
  margin: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 1500px;
}

#photo-template {
  width: 0;
}

.card {
  padding: 25px;
}

#select_name {
  font-size: 25px;
  font-weight: bold;
}

select {
  font-family: 'Gugi', cursive;
}

button {
  font-family: 'Gugi', cursive;
}